<div class="example-button-container">
    <button mat-fab color="warn" (click)="count()" >
      <mat-icon matBadge="{{x}}" matBadgePosition="above after">favorite</mat-icon>
    </button>
  </div>
  <hr>
  <div class="example-button-container">
    <button mat-fab color="accent" (click)="count()" >
      <mat-icon matBadge="{{x}}" matBadgePosition="above after">home</mat-icon>
    </button>
  </div>
  <hr>
  <div class="example-button-container">
    <button mat-fab color="warn" (click)="count()" >
      <mat-icon matBadge="{{x}}" matBadgePosition="above after">bookmark</mat-icon>
    </button>
  </div>
  <hr>
  <button mat-raised-button color="accent" matBadge="{{x}}" matBadgePosition="above after" (click)="count()">
      Accent
  </button>
  <hr>
  <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" >
    <mat-icon matBadge="{{x}}" matBadgePosition="above after" (click)="count()">more_vert</mat-icon>
  </button>
  <hr>
  <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
    <mat-icon matBadge="{{x}}" matBadgePosition="above after" (click)="count()">home</mat-icon>
  </button>
  <hr>
  <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
    <mat-icon matBadge="{{x}}" matBadgePosition="above after" (click)="count()">menu</mat-icon>
  </button>
  <hr>
  <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
    <mat-icon matBadge="{{x}}" matBadgePosition="above after" (click)="count()">favorite</mat-icon>
  </button>
  <hr>
 